@model usuario

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Nuevo usuario</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-action="Crear">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="tipo" class="control-label"></label>
                    <input asp-for="tipo" class="form-control" />
                    <span asp-validation-for="tipo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="nombre" class="control-label"></label>
                    <input asp-for="nombre" class="form-control" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="edad" class="control-label"></label>
                    <input asp-for="edad" class="form-control" />
                    <span asp-validation-for="edad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="genero" class="control-label"></label>
                    <input asp-for="genero" class="form-control" />
                    <span asp-validation-for="genero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lugarResidencia" class="control-label"></label>
                    <input asp-for="lugarResidencia" class="form-control" />
                    <span asp-validation-for="lugarResidencia" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Nuevo usuario" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

</div>
